button {
  margin: 5px 10px;
}

.card {
  text-align: center;
  justify-content: center;
}

.form-control {
  width: 20rem;
}

.volumenPaston,
.relacionAguaCemento,
.contenidoAire,
.dosificacionReal {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

* {
  font-family: "Montserrat", sans-serif;
}
